/* @media (max-width: 480px) {
    .cabecalho__imagem {
        width: 3rem; 
        height: 1rem; 
        margin-left: 1rem; 
    }

    .menu__lista {
        justify-content: flex-start; 
        margin-left: 1rem; 
        gap: 1rem; 
    }

    .principal {
        flex-direction: column;
        align-items: center; 
        margin-top: 3rem; 
    }

    .principal__texto {
        margin-left: 0; 
        text-align: center; 
        font-size: 1.5rem; 
    }

    .principal__titulo {
        font-size: 1.5rem; 
    }

    .principal__paragrafo {
        width: auto;
        font-size: 1rem; 
    }

    .principal__imagem {
        margin: 2rem 0; 
        width: 80%; 
    }

    .container {
        width: 90%; 
        flex-direction: column; }

    .container__numeros{
        display: flex;
        flex-direction: column;

    }

    .numeros__titulo {
        font-size: 2rem; 
    }

    .secundaria__titulo {
        font-size: 1.8rem; 
    }

    .secundaria__paragrafo {
        width: auto; 
        font-size: 1rem; 
    }

    .imagens {
        flex-direction: column; 
        gap: 1.5rem; 
    }
    .mapa {
        height: 20rem;
        background-size: cover; 
    }
    .imagem1, .imagem2 {
        width: 100%; 
        height: auto; 
    }

    .footer__rodape {
        font-size: 1rem; 
    }
}
@media (max-width: 960px) {
    .cabecalho__imagem {
        width: 4rem; 
        height: 1.5rem; 
        margin-left: 10rem; 
    }

    .menu__lista {
        justify-content: flex-start; 
        margin-left: 2rem; 
        gap: 1rem; 
    }

    .principal {
        flex-direction: column;
        align-items: center; 
        margin-top: 3rem; 
    }

    .principal__texto {
        margin-left: 0; 
        text-align: center; 
        font-size: 2rem; 
        width: auto; 
    }

    .principal__titulo {
        font-size: 2rem; 
    }

    .principal__paragrafo {
        width: auto; 
        font-size: 1rem; 
    }

    .principal__imagem {
        margin: 1rem 0; 
        margin-left: 27rem;
        width: 80%;
    }

    .container {
        width: 90%;
        flex-direction: column; 
    }

    .numeros__titulo {
        font-size: 2rem; 
    }

    .secundaria__titulo {
        font-size: 2rem; 
    }

    .secundaria__paragrafo {
        width: auto; 
        font-size: 1rem; 
    }

    .imagens {
        flex-direction: column; 
        gap: 1rem; 
    }

    .imagem1, .imagem2 {
        width: 100%; 
        height: auto; 
    }

    .footer__rodape {
        font-size: 1rem; 
    }
} */